---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import groupPhoto2 from '../assets/IMG_1324.jpg';
---

<Layout title="About Us - Okanagan Rovercraft">
	<Header />
	
	<main style="margin-top: 80px;">
		<section class="content_section">
			<div class="content">
				<h1 class="content_title">About Us</h1>
				<p class="content_text">
					Originally a shared dream of a few classmates, Okanagan Rover Craft was formally established in October
					of 2025, and has been firing on all cylinders ever since. Okanagan Rover Craft is composed of a
					community of young professionals with a team goal to build the best rover possible to compete at the
					Canadian International Robotics Challenge (CIRC). Okanagan Rover Craft is more than just a project, it’s
					an opportunity to build relationships, grow as professionals, and have fun. Okanagan Rover Craft is
					always looking for skilled and enthusiastic new members, reach out to us to learn more about the
					Okanagan Rovercraft team!
				</p>
				<div class="image-frame">
					<Image src={groupPhoto2} alt="Group Photo" loading="eager" width={1200} quality="high" />
				</div>
			</div>
		</section>

		<section class="content_section" id="get_involved" style="min-height: auto; padding: 80px 0;">
			<div class="content" style="margin-top:-60px">
				<h2>How to get involved</h2>
				<p class="content_text">
					Looking to get involved in the future of Okanagan Rover Craft? We are always looking for passionate
					collaborators to join our mission. If you represent an organization looking to empower a team of young
					professionals, our outreach team would be thrilled to discuss the benefits of partnering with Okanagan
					Rover Craft with you! Sponsoring our team provides your organization with brand visibility while
					directly supporting our team's goals. A partnership with Okanagan Rover Craft allows you to connect with
					top student talent in STEM fields and support both our craft, and our team's future. If you are
					interested in supporting us, check out our sponsorship page!
				</p>
				<button class="learn-more" id="sponsor_button" onclick="window.location.href='/sponsors'">
					Learn More
					<span class="arrow">→</span>
				</button>
			</div>
		</section>
	</main>

	<Footer />
</Layout>
